# dependencies
node_modules/

# build output
dist/
build/
.vite/
out/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# temp
*.tmp
*.temp
*.tsbuildinfo

# environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# Tauri / Rust
src-tauri/target/
target/

# misc
coverage/